* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(69, 117, 68);
}

.box {
    min-width: 40%;
    min-height: 80vh;
    border-radius: 15px;
    background-color: rgb(214, 214, 214);
}

.add-item {
    background-color: gray;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border-radius: 10px;
    padding: 20px 10px;
}

.input {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    width: 70%;
    outline: none;
}

.button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    min-width: 20%;
}

.button:active {
    position: relative;
    top: 1px;
}

.todoitems {
    padding: 0 25px;
}

.todoitem {
    padding: 10px 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todoitem-text {
    text-decoration: none;
}

.todoitem-strikethrough {
    text-decoration: line-through;
}

.todoitem-checkbox {
    width: 15px;
    height: 15px;
}